
.notfound-root {
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(
        to bottom,
        rgba(144, 212, 6, 0.5) 0%,
        rgba(131, 185, 22, 0.45) 25%,
        rgba(24, 235, 24, 0.4) 50%,
        rgba(3, 199, 3, 0.35) 75%,
        rgba(8, 151, 8, 0.3) 90%,
        rgba(10, 104, 10, 0.25) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 5;
    /* opacity: 0.7; */
}

.notfound-content {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.432);
    border-radius: 24px;
    padding: 2rem 2.5rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
    text-align: center;
    max-width: 90vw;
}

.notfound-content h1 {
    font-size: 5rem;
    margin: 0 0 0.5rem 0;
    color: #f1f4f5;
    font-weight: 800;
    letter-spacing: 0.1em;
}

.notfound-content p {
    font-size: 1.25rem;
    color: #006064;
    margin: 0.5rem 0;
}

.notfound-link {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.6em 1.5em;
    background: #4dd0e1;
    color: #fff;
    border-radius: 999px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.2s;
}

.notfound-link:hover {
    background: #0097a7;
}

@media (max-width: 600px) {
    .notfound-content {
        padding: 1.2rem 1rem;
    }

    .notfound-content h1 {
        font-size: 2.5rem;
    }

    .notfound-content p {
        font-size: 1rem;
    }
}
